.blur, .blur-more {
  background-color: rgba(0, 0, 0, .33);
  border-radius: 5px;
  padding: 25px !important;
}
.blur-more {
  background-color: rgba(0, 0, 0, .66);
}

i.fa-twitter {
  color: #0084b4;
}

.reveal ul {
  list-style-type: none;
}

ul.fa > li > i.fa:first-of-type {
  min-width: 50px;
  color: #999;
}

.reveal section img.raw {
  border: 0;
  box-shadow: none;
  background: transparent;
}
